<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Anda">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Madamme Bijoux earrings_pag</title>
</head>
<body class="container-fluid">

<header class="mx-0">

    <nav class="navbar navbar-expand-md navbar-light pb-2 myfixedtop  d-flex flex-column">
        <div class="w-100 py-3 mx-0 text-center bacg ">
            <a class="navbar-brand  " href="#"><h1 class="logo linear-wipe pt-2 m-0">Madamme Bijoux</h1></a>
        </div>

        <button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-around w-100">
            <div class="collapse navbar-collapse text-center mt-1" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="category.html">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Store
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Earrings</a>
                            <ul>
                                <li><a class="text-muted" href='long_earrings_page.html'>Long Earrings</a></li>
                                <li><a class="text-muted" href='small_earrings_page.html'>Small Earrings</a></li>
                            </ul>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Necklace</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Bracelet</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Wedding</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">For kids</a>
                        </div>
                    </li>

                </ul>
                <div class="d-md-flex flex-md-row">

                    <form class="form-inline  mt-mr-0">
                        <i class="fas fa-search d-none d-md-block pr-2"></i>
                        <input class="form-control bg-white text-center mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    </form>
                    <ul class="nav text-dark">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark px-1 pt-2" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="login.html">Sing in</a>
                                <a class="dropdown-item" href="register.html">Register</a>

                            </div>
                        </li>
                        <li class="nav-item p-0">
                            <a class="nav-link text-dark" href="#"><i class="fas fa-shopping-basket"></i></a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </nav>

</header>
<main>
    <div class="d-flex justify-content-around">
        <div class="">
            <a class="" href="learring1.html"><img src="assets/images/earring/evae2.jpg" class="colcar img-fluid mr-3 "  alt="..."></a>
            <div class="">
                <p class="m-0"><a href="learring1.html">Product name</a></p>
                <p class="m-0"><a href="learring1.html">Product code</a></p>
            </div>
        </div>
        <div class="mx-1 mx-md-2">
            <a class="" href="#"><img src="assets/images/earring/evae2.jpg" class="colcar img-fluid mr-3 "  alt="..."></a>
            <div class="">
                <p class="m-0"><a href="learring1.html">Product name</a></p>
                <p class="m-0"><a href="learring1.html">Product code</a></p>
            </div>
        </div>
        <div class="">
            <a class="" href="#"><img src="assets/images/earring/evae2.jpg" class="colcar img-fluid mr-3 "  alt="..."></a>
            <div class="">
                <p class="m-0"><a href="learring1.html">Product name</a></p>
                <p class="m-0"><a href="learring1.html">Product code</a></p>
            </div>
        </div>
    </div>


</main>
<footer>

</footer>
<script src="js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>